# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.venv/
examen/

# Variables de entorno
.env
.env.local

# Base de datos
*.db
*.sqlite

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# Archivos temporales
*.pyc
*.log
